.dpwap_download_link{
  color:#009933;
}
.dpwap_download_link:hover{
  color:#00B22D;
}
.update-nag
{
  display: block;
}
.modal-open {
  overflow: hidden;
}
.modal {
  display: none;
  overflow: auto;
  overflow-y: scroll;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  -webkit-overflow-scrolling: touch;
  outline: 0;
}
.modal.fade .modal-dialog {
  -webkit-transform: translate(0, -25%);
  -ms-transform: translate(0, -25%);
  transform: translate(0, -25%);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  -moz-transition: -moz-transform 0.3s ease-out;
  -o-transition: -o-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
}
.modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
}
.modal-dialog {
  position: relative;
  width: auto;
  margin: 10px;
}
.modal-content {
  position: relative;
  background-color: #ffffff;
  border: 1px solid #999999;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  background-clip: padding-box;
  outline: none;
  margin-top:70px;
}
.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000000;
}
.modal-backdrop.fade {
  opacity: 0;
  filter: alpha(opacity=0);
}
.modal-backdrop.in {
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.modal-header {
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
  min-height: 16.42857143px;
}

.modal-title {
  margin: 30px 0 0 22px;
  line-height: 1.42857143;
}
.modal-body {
  position: relative;
  padding: 20px;
  min-height: 250px;
}
.dpwap_section_third .modal-body {
  min-height: 200px;
}
.modal-body .row{
  display: flex;
}
.modal-body .col-dpwap-4{
  width: calc(33% - ( 0.8 * 10px ) );
  float: left;
  margin: 10px 0;
}
.modal-body .col-dpwap-8{
  width: calc(67% - ( 0.8 * 10px ) );
  float: left;
  margin: 10px 0;
}
.dpwap_section_second ul li input {
    margin-top: 2px !important;
}
.dpwap_section_second ul li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    line-height: 19px;
    font-size: 12px;
    padding: 1px 5px;
}
.modal-body h4{
  margin: 0;
}
.modal-footer {
  margin-top: 5px;
  padding: 10px 20px 10px;
  text-align: right;
  border-top: 1px solid #e5e5e5;
}
.modal-footer .btn + .btn {
  margin-left: 5px;
  margin-bottom: 0;
}
.modal-footer .btn-group .btn + .btn {
  margin-left: -1px;
}
.modal-footer .btn-block + .btn-block {
  margin-left: 0;
}
@media (min-width: 768px) {
  .modal-dialog {
    width: 660px;
    margin: 30px auto;
  }
  .modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  }
  .modal-sm {
    width: 300px;
  }
}
@media (min-width: 992px) {
  .modal-lg {
    width: 900px;
  }
}

.downlist {
  padding: 6px;
  border: 1px solid #CCC;
  margin: 6px 0px;
  font-size: 16px;
}
.downlist a{ float: right; }

#dpwap-plugin-box{
    width: 60%;
    text-align: center;
    margin: 30px auto;
}
.dpwap_h3 {
  border-bottom: 1px solid #eeee;
  color: #000;
  font-size: 22px;
  margin-bottom: 10px;
  margin-top: 40px;
  padding-bottom: 5px;
  text-transform: capitalize;
  text-align: left;
  padding-left: 14px;
  font-weight: bold;
}
#btn_upload {
    position: absolute;
    top: 20px;
    left: 250px;
}

#dpwap-plugin-box .inside{
  margin-top: 30px;
  margin-bottom: 40px;
}

#dpwap_incompatible{
    position: absolute;
    top: 130px;
    left: 335px;
}
.dpwap_main h1{ display: none; }
.dpwap_inner {
  width: 29%;
  border: 1px solid #eee;
  text-align: left;
  margin: 10px 1%;
  padding: 10px;
  float: left;
  overflow: hidden;
  background: #fff;
  min-height: 270px;
}
#dpwap-plugin-box {
    width: 100%;
    text-align: center;
    margin: 30px auto;
}
.postbox {
  position: relative;
  min-width: auto;
  border: 0 transparent !important;
  box-shadow: none !important;
  background: #f1f1f1;
  overflow: hidden;
  width: 100%;
}
.postbox .hndle, .stuffbox .hndle{
  
  border-bottom: 0 transparent !important;
}
.dpwap_main .button.dpwap_allactive {
  position: absolute;
  top: 0;
  right: 25px;
  background: #0085ba;
  color: #fff;
  border: none;
}
.dpwap_inner a:last-child {
  display: none;
}
.dpwap_main {
  position: relative;
  overflow: hidden;
  clear: both;
}
.postbox .inside{
  padding:0 !important;
}
.toplevel_page_activate-status #wpfooter{
    left: 0;
    right: 0;
    padding: 10px 20px;
    color: #555d66;
    bottom: 0 !important;
    position: fixed !important;
    background-color:#aba7a714;

}

.dpwap_inner .wrap .notice, .dpwap_inner .wrap .updated{
  display:none !important;
}

.modal-head .close {
  /*margin-top: 0;
  float: right;
  background: #ddd;
  border: navajowhite;
  font-size: 24px;
  margin-top: -5px;
  width: 30px;
  height: 30px;*/

   position: absolute;
    right: 0;
    z-index: 999;
    color: #fff;
    background: transparent;
    border: navajowhite;
    font-size: 40px;
    top: -48px;

  /* line-height: 0; */
}
.modal-header {
  background: #eee;
}
.downlist a {
  text-decoration: navajowhite;
  background: #2290c0;
  padding: 6px 17px;
  color: #fff;
  font-size: 12px;
  margin: -6px;
  border-radius: 4px;
}
.modal-footer button {
  background: #FF6501;
  border: 1px solid #ccc;
  padding: 6px 20px;
  border-radius: 4px;
  color: #fff;
}
.package_activate p a.button{ display: none; }
/*.modActive{ display: block; padding-top: 150px;  }*/

.button.button-primary.dpwap_allactive{
    display: block;
    clear: both;
    width: 150px;
    margin: 20px auto;
    border: none;
    font-size: 16px;
    padding: 5px;
    height: auto;
    position: absolute;
    top: 20px;
    /* padding: 15px; */
    left: 222px;
    display: none;
}
.img_block img {
    width: 100%;
    position: relative;
}
.hndle {
    font-weight: normal;
}

#install_button{
  color: #555;
  border-color: #ccc;
  background: #f7f7f7;
  box-shadow: 0 1px 0 #ccc;
  text-shadow: none !important;
}

#dpwap-plugin-box input[type=file] {
  cursor: pointer;
  width: auto;
  height: 34px;
  overflow: visible;
}
.upload-section-btn {
    position: relative;
}

#dpwap-plugin-box input[type=file]:before {
  width: 130px;
  height: 32px;
  font-size: 14px;
  line-height: 32px;
  content: 'Select your file';
  display: inline-block;
  background: #b7b5b538;
  border: 1px solid #cecece;
  padding: 0 5px;
  text-align: center;
  font-family: Helvetica, Arial, sans-serif;
  position: absolute;
  left: 0;
  top: 0;
}

#dpwap-plugin-box input[type=file]::-webkit-file-upload-button {
  visibility: hidden;
}
#dpwap-plugin-box input.middle:focus {
    outline-width: 0;
}
#back_second{
  float: left;
  background: none;
  color: #333;

}
.footer_note{
  float: left;
  font-size: 12px;
  margin:0 0 20px -20px; 
}
.modal-head #thirdLoading{
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  padding: 12px;
  display: inline-block;
  width: 100%;
  margin-top: 16px;
}

.dpwap_inner .wrap div{
  display: none;
}
.dpwap_multiple_upload_form {
    background: #FFF;
    border: 1px solid #e5e5e5;
    padding: 30px;
    margin: 0 auto;
    max-width: 460px;
}
#dpwapLoader {
    position: fixed;
    z-index: 999;
    overflow: visible;
    margin: auto;
    display: none;
    background: rgba(0,0,0,0.8);
    height: 100%;
    width: 100%;
    left: 5%;
    top: 0;
    text-align: center;
}

#dpwapLoader img {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}
#dpwapLoader p {
    position: absolute;
    z-index: 9999;
    font-size: 32px;
    color: #fff;
    top: 50%;
    left: 5%;
    transform: translateY(-50% -50%) !IMPORTANT;
    text-align: center;
    padding: 0 10%;
    text-transform: none;
    font-size: 25px;
    letter-spacing: 3px;
    overflow: hidden;
    
}

#dpwap-plugin-box .upload-section-btn label {

    margin-top: 0;
    display: inline-block;
    height: 18px;
    margin-right: 12px;
    line-height: 16px;

}
#dpwap-plugin-box .message {
    text-align: center;
    margin-top: 15px;
}


/*  multiple uploader overlay css */
.containerul {
  position: fixed;
  z-index: 4;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 0;
  margin-top: -45px;
  width: 100%;
  height: 100%;
  list-style: none;
  border: 2px solid rgba(255,255,255,0.4);
  background: rgba(0,0,0,0.8);
  z-index: 999;
  overflow: hidden;
  display: none;
}
.containerul h1{
  position: fixed;
    top: 35%;
    width: 102%;
    z-index: 9999999999999;
    color: white;
    text-align: center;
}
.uploadLoader{
    position: fixed;
    z-index: 3;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 50%;
    margin-top: -30px;
    width: 130px;
    height: 60px;
 list-style: none;}@-webkit-keyframes 'loadbars' {
    0%{
        height: 10px;
        margin-top: 25px;
    }
    50%{
        height:50px;
        margin-top: 0px;
    }
    100%{
        height: 10px;
        margin-top: 25px;
    }
}
.uploadLoader li{
        background-color: #ffffff
;
        width: 10px;
        height: 10px;
        float: right;
        margin-right: 5px;
   box-shadow: 0px 20px 10px rgba(0,0,0,0.2);
    }
.uploadLoader li:first-child{
            -webkit-animation: loadbars 1s cubic-bezier(0.645,0.045,0.355,1) infinite 0s;
        }
.uploadLoader li:nth-child(2){
            -webkit-animation: loadbars 1s ease-in-out infinite -0.2s;
        }
.uploadLoader li:nth-child(3){
            -webkit-animation: loadbars 1s ease-in-out infinite -0.4s;
 }
.uploadLoader li:nth-child(4){
            -webkit-animation: loadbars 1s ease-in-out infinite -0.6s;
   }
.uploadLoader li:nth-child(5){
            -webkit-animation: loadbars 1s ease-in-out infinite -0.8s;
   }
.uploadLoader li:nth-child(6){
            -webkit-animation: loadbars 1s ease-in-out infinite -1.0s;
   }
}