.dpwap-progress-container {
    border: #2271b1 1px solid;
    margin: 40px 0px;
    border-radius: 4px;
    text-align: center;
    background-color: #fff
}
.dpwap-progress-bar {
    background-color: #2271b1;
    color: #FFFFFF;
    padding: 2px 0px;
    width: 0%;
    -webkit-transition: width .3s;
    -moz-transition: width .3s;
    transition: width .3s;
}

.dpwap-container table.form-table .forminp select {
    width: 400px;
    margin: 0;
    padding: 4px 8px;
    box-sizing: border-box;
    vertical-align: top;
}

#dpwap_results th,
#dpwap_results td {
    white-space: nowrap;
}

.dpwap-container {
    margin-top: 30px;
}

.dpwap-user-button {
    margin: 12px 0px;
}